title: CoCoSys lab wiki
description: A wiki for the CoCoSys lab, more at https://anneurai.net/.
theme: just-the-docs
search_enabled: true


url: https://just-the-docs.github.io

#aux_links:
#  Template Repository: https://github.com/just-the-docs/just-the-docs-template


callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red